<div class="d-flex flex-row-reverse bg-primary w-100 h-25" style="margin:0; padding:0">
  <div class="w-25">
    <div class="w-50">
    </div>
    <div class="w-50 float-left justify-content-center align-items-center float-right p-2">
      <button class="btn btn-dark text-white rounded"> <i class="fa fa-cog"></i></button>
      <button class="btn btn-dark text-white rounded" (click)="LogOutClick()"> Log Out</button>
    </div>
  </div>
  <div class="w-75 justify-content-center text-white align-items-center float-left p-2">
    <div>
    <h3> <i class="fa fa-bolt"></i> Electricity Meter </h3>
    </div>
  </div>
</div>
