<div class="d-flex flex-column bg-light h-100 w-100">
  <div style="height: 85%">
    <div class="h-25 w-100">
      <img src="../../../../assets/pf.png" class="w-100 h-100">
    </div>
      <ul class="list-group">
        <button class="list-group-item"><i class="fa fa-user"></i> Account </button>
        <button class="list-group-item"><i class="fa fa-trophy"></i> Earnings </button>
        <button class="list-group-item"><i class="fa fa-credit-card"></i> Payings </button>
      </ul>
  </div>
  <div class="mx-auto mb-2" style="height: 15%; width: 80%">
    <img class="h-100 w-100" src="../../../../assets/logo3.png">
  </div>
</div>
