<div class="m-3">
  <ngx-carousel
    [inputs]="carouselOne"
    (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem>
      <app-electricityto1card></app-electricityto1card>
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <app-electricityto2card></app-electricityto2card>
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <app-energyusagecard></app-energyusagecard>
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <app-gascard></app-gascard>
    </ngx-item>
    <button NgxCarouselPrev onmousedown="event.preventDefault()" class='leftRs btn btn-primary ml-3 rounded'><i class="fa fa-chevron-left"></i></button>
    <button NgxCarouselNext onmousedown="event.preventDefault()" class='rightRs btn btn-primary mr-3 rounded'><i class="fa fa-chevron-right"></i></button>
  </ngx-carousel>
</div>

